@charset "UTF-8";

table{
    margin: 20px auto;
    border: 1px solid black;
    border-collapse: collapse;
}
table th, td{
    border: 1px solid black;
    padding: 5px;
}
table ul{
    padding: 0;
}
table ul li{
    list-style: none;
}
.traducao{
    color: rgba(0, 0, 0, 0.37);
}
main abbr{
    text-decoration: none;
    text-indent: ;
}