@charset "UTF-8";
*{
    margin: 0;

}
:root {
    --c1: #D9BFA9;
    --c2: #A69281;
    --c3: #26221E;
    --c4: #F2D8C2;
    --c5: #c98d51;
    --c6: #F7F1E4;
    --c7: #A17749;
    --c8: #FAFAF8;
  }
  header{
    background-color: var(--c7);
    color: white;
    padding: 10px;
    text-align: center;
    
  }
  header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  header ul li{
    margin: 10px 0 ;
  }
  header ul li a {
    
    background-color: var(--c3);
    padding: 10px;
    border-radius: 15px;
    margin: 0 20px 0 20px;
    text-decoration: none;
    color: white;
  }
  main{
    background-color: #F1EAE0;
    padding: 30px;
    min-height: 100vh;
    position: relative;
  
  
    
  }
  main div#personagem{
    display: flex;
    background-color: red;
    overflow-x: scroll ;
  
    
  }
  main div#personagem::-webkit-scrollbar{
   display: none;
  }
  main h2{
    text-align: center;
    margin-bottom: 14px;
  }
  main div#personagem a{
    text-align: center;
    text-decoration: none;
    height: 490px;
    padding: 5px 30px 30px 30px;
    margin:10px 15px;
    background-color: #B59E7A;
    border-radius: 15px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.336);
  }
  main div#personagem a p{
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
  }

  main div#personagem a img{
    width: 300px;
    height: 460px;
    border-radius: 15px;
  }
  footer{
    background-color: var(--c7);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 13px;
  }
  div#divponto{
    display: block;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 319px;
    width: 60px;
    height: 60px;
  }
  span#botao{
    width: 60px;
    height: 60px;
    color: var(--c5);

    font-size: 50px;
    cursor: pointer;
  
  }
  div#div2{
    display: flex;
    align-items: center;
    position: absolute;
    left: 40px ;
    top: 319px;
    transform: scaleX(-1)
    
  }
  span#botao2{
    height: 50px;
    color: var(--c5);
    font-size: 50px;
    cursor: pointer;

  }